# ***Aufgabe 3*** 
**Pandas** 

If you have not done so already, really work through the 10 min Tutorial from Pandas. Then solve the following in a Jupyter Notebook:

Laura Pichlmeier - 70454892

## 1. Load the countries.csv directly via URL import into your panda data frame!

In [ ]:
import numpy as np
import pandas as pd

df_csv = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv')
df_csv

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

## 2. Display some basic information as rows, columns and some basic statistical info.

In [ ]:
print('Number of Rows: ')
len(df_csv)

Number of Rows:

5

In [ ]:
print('Number of Columns: ')
len(df_csv.columns)

Number of Columns:

5

In [ ]:
print('Number of Elements: ')
df_csv.size

Number of Elements:

25

In [ ]:
print('General info: ')
df_csv.info()

General info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   People    5 non-null      int64
 2   Area      5 non-null      int64
 3   BIP       5 non-null      int64
 4   Currency  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [ ]:
print('Some statistics: ')
df_csv.describe()

Some statistics:

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

## 3. Show the last 4 rows of the data frame.

In [ ]:
#Last 4 rows
df_csv.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

## 4. Show all the row of countries who have the EURO

In [ ]:
#Countries that have Euro
df_csv[df_csv['Currency'] == 'EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

## 5. Show only name and Currency in a new data frame.

In [ ]:
#New Data Frame with only Name and Currency
col_list = ["Name", "Currency"]
df2 = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv', usecols = col_list)
df2

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

## 6. Show only the rows/countries that have more than 2000 BIP

In [ ]:
#BIP higher than 2000
df_csv[lambda x: x['BIP'] > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

## 7. Select all countries where inhabitants between 50 and 150 Mio

In [ ]:
#Population bigger than 50 Mio but smaller than 150 Mio
df_csv[df_csv['People'].between(50000000, 150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

## 8. Change BIP to Bip

In [ ]:
#Change BIP to Bip
df_csv.rename(columns=({'BIP': 'Bip'}), inplace=True)
df_csv

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

## 9. Calculate the Bip sum

In [ ]:
#BIP Sum
print('Sum of BIP is: ')
df_csv['Bip'].sum()

Sum of BIP is:

13581

## 10. Calculate the average people of all countries

In [ ]:
#Average People of all countries
print('Average people through all countrie')
sum = df_csv['People'].sum()
dev = sum / len(df_csv)
dev

Average people through all countrie

102786293.6

## 11. Sort by name alphabetically

In [ ]:
#Sort by name alphabetically
df_csv.sort_values(by=["Name"])

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

## 12. Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [ ]:
#all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
df3 = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv')
df3['Area'] = np.where(df3['Area'] > 1000000, 'BIG','SMALL')
df3

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL